
/* https://media.istockphoto.com/photos/back-view-and-close-up-of-woman-hands-using-laptop-with-blank-white-picture-id1318131332?b=1&k=20&m=1318131332&s=170667a&w=0&h=ZIAGoC9Q-BAhGwZK05hPIKvGeLNgvXDs5KrTQIKm708= */

/* importing font-family - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset browser default styles */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

/* HEADER SECTION */ 
 header{
   background-image: url(https://images.unsplash.com/photo-1644016328549-6f376c274e6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDgwfGFldTZyTC1qNmV3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60);
   background-size: cover;
    background-position: 100%;
    background-color: rgb(72, 72, 228);
    height: 80vh;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
}

 /* HEADER OVERLAY */
 .header-overlay{
background-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: 0; 
background-size: cover;
background-position: 100%;
height: 80vh;
width: 100%;
z-index: -1;
} 

.nav-bar{
position: relative;
z-index: 3;
display: flex;
top: 0;
justify-content: space-between;
align-items: center;
}

#nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    padding: 0.5rem;
}
#hamburger input{
    display: none;

}

#hamburger span {
    display: none;
}

.nav-link.active{
    color: red;
}

li {
    list-style: none;
}


/* LOGO SECTION */
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 2rem;
    left: 0.5rem;

}

/* NAVLINKS */

.nav-link{
font-size: 1.5rem;
z-index: 3;
font-weight: bold;
text-decoration: none;
transition: 0.5s;
color: white;
padding: 10px;
margin: 10px;
cursor: pointer;
}

.nav-link:hover{
    color: #482ff7;
}

/* HERO WRAPPER */
.hero-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

/* PROFILE-IMAGE */
.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50px; 
    margin-top: 100px;
}

/* FULLNAME */
.fullname{
    color: #ffff;
    font-size: 35px;
    text-transform: uppercase;
    margin: 10px 0px;
}

.brief{
    color: #ffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ICONS */
.hero-media-wrapper svg{
    height: 30px;
    width: 30px;
    fill: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px;
    margin: 10px;
    transition: 0.5s;
}

/* BTN */

.btn{
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 26px;
    border: none;
    margin: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.8;
    
}

.download-btn{
    background-color:white;
    color:red;
}

.download-btn:hover{
    background-color: red;
    opacity: 0.8;
    color: white;
}

/* MAIN BODY CONTENT */
main{
    margin-top: 20x;
    background-color:rgb(255, 255, 255);
}

.section{
    padding: 20px;
}
.section h2{
    font-size: 30px;
    font-weight: bold;
    color:red;
    margin: 10px 0px;
    text-transform: uppercase;
    text-align: center;
}

.about-me{
    width: 90%;
    margin: 0 auto;
}

.about-brief{
    margin-top: 10px;
    line-height: 2;
}

/* PLACE OF wORK sECTION */
.place-of-work-section{
    margin: 40px 0;
    background-color: red;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-group label{
    display: block;
    margin-bottom: 10px;
}

.place-of-work-section h2{
    color: white;
    font-size: 20px;
}

.work-place-wrapper{
    text-align: center;
    margin: 40px 0;
    display: flex;
    justify-content: space-around;


}


.place-of-work-pill{
    background-color: black;
    color: white;
    padding: 25px 50px;
    margin: 24px;
    border-radius: 20px; 
    font-size: 14px;
    transition: 1.5;  
}
/* PROJECT SECTION */

.project-card-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
    margin-top: 2rem;
    margin-left: 35px;
    margin-bottom: 100px;
}

.project-card{
    padding: 10px 10px 45px 10px;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow:
            0 10px 25px rgba(0, 0, 0, 0.2);
}

.project-card img{
    width: 350px;
    height: 200px;
    
}

.card-content{
    width: 100%;
    padding: 2px 10px;
    text-align: center;
}

.project-title{
    color: red;
    margin-bottom: 10px;
    font-size: 17px;
}

.project-brief{
    font-size: 15px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.projects-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.projects-links svg{
    width: 20px;
    height: 2opx;
    fill: red;
}

/* STACK SECTION */

/* chrome */
.stack-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 35px;
    flex-direction: column;
}


.stack-progress::-webkit-progress-bar{
    background-color:#eee;
    border-radius: 100px;
}

.stack-progress::-webkit-progress-value{
    background-color: red;
    border-radius: 100px;
}

/* firefox */
.stack-progress::-moz-progress-bar{
    background-color: #eee;
    border-radius: 100px;
}

/* IE10 */
.stack-progress{
    color: red;
    border-radius: 100px;
}

.stack-progress-wrapper label{
    display: block;
}

/* SERVICE SECTION */
.service-section{
    margin: 80px 0;
    min-height: 400px;
    background-color: red
}

.service-section h2{
    color: #fff;
    margin-bottom: 25px;
}

.service-card-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-left: 35px;
    /* margin-top: 100px; */
}

.service-card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0 0 0 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 25px;
    gap: 5px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.service-card:hover{
    box-shadow: 0 8px 16px 0 rgba(225, 225, 255, 0.4);
    background-color: #fff;
}

.service-card svg{
    width: 30px;
    height:30px;
    color:black;
    margin-bottom: 10px;
}

.service-card-content {
    text-align: center;
    padding: 2px 16px;
    width: 300px;
}

.service-title{
    color: red;
    margin-bottom: 10px;
    font-size: 17px;
}

.service-brief{
    font-size: 14px;
    color: black;
}

/* WORK WITH THE FORM SECTION */
.form-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4opx;
}

.form-group input{
border: 1px solid red;
border-radius: 5px;
padding: 10px;
width: 400px;
margin-bottom: 10px;
font-size: 14px;
}

.form-group textarea{
border: 1px solid red;
border-radius: 5px;
padding: 10px;
width: 400px;
height: 350px;
resize: none;
margin-bottom: 10px;
}

/* SOCIAL MEDIA ACCOUNT */
.social-account-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.social-account-wrapper svg{
    width: 30px;
    height: 30px;
    color: red;
}

.social-account-wrapper svg:hover{
    color: black;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}

.up svg{
    width: 50px;
    height: 100px;
    margin: 0px 0px 0px 1000px;
    border-radius: 5px;
    fill: rgb(2, 2, 70);
}

/* RESPONSIVE SECTION */


@media (max-width:680px){
    header, .header-overlay{
        height: auto;
        background-color: rgb(190, 187, 179);
        width: 100%;
        object-fit: cover;
        font-size: 1rem;
    }

    .up svg{
        display: none;
    }

    .logo{
        font-size: 1.5rem;
        top: 0.5rem;
    }

    .profile-image{
        margin-top: 0;
    }

    #nav-menu {
        top: 4rem;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background-color: #fff;
        left: 10%;
        width: 100%;
        height: auto;
        border-radius: 10px;
        font-size: 25px;
        transform-origin: 0% 0%;
        /* transform: translate(150%, 0); */
        display: none;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        text-align: center;
        transition: 0.8s;
        -webkit-font-smoothing: antialiased;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }
    .nav-item{
        margin: 1.2rem 0px;
    }

    #hamburger {
        display: flex;
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap; 
        cursor: pointer;
        width: 80%;
        position: relative;
        z-index: 2;
        -webkit-user-select: none;
        user-select: none;
    }
   
     #hamburger input{
        display: block;
        width: 50px;
        height: 40px;
        position: absolute;
         top: 15px;
        /* right: 0.1rem;  */
        margin-left: 310px;

        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 3; /* and place it over the hamburger */
        -webkit-touch-callout: none;
       
    } 
          
    #hamburger span{
        display: block;
        position: relative;
        top: 7.5px;
        border-radius: 3px;
        opacity: 1;
        z-index: 3;
        margin-top: 10px;
        width: 45px;
        /* right: 0.55rem; */
        height: 4.8px;
        margin-left: 312px;
        transition: all 0.3s ease-in-out;
        background-color: red; 
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
        
      #hamburger span:first-child{
        transform-origin: 0% 0%;
      }
        
      #hamburger span:nth-last-child(2){
        transform-origin: 0% 100%;
      }

      #hamburger input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(0.5rem, -0.4rem);
        background: white;
      }

      #hamburger input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      #hamburger input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0.4rem, 0.5rem);
        /* display: none; */
        /* background-color: black; */
      }

      #hamburger input:checked ~ ul {
        /* transform: none; */
        display: flex;
      }
      
    .nav-link{
        color: black;
    }
    
    .logo{
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .fullname, .brief{
        font-size: 20px;
        text-align: center;
    }
    header, .header-overlay{
        position:relative;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .work-place-wrapper{
        flex-direction: column;
    }
    
    .project-card-wrapper{
        flex-direction: column;
        width: 80%;
    }

    .project-card{
        box-shadow:
            0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .project-card img{
        width: 300px;
    }

    .service-card-wrapper{
        flex-direction: column;
        width: 80%;
    }
    .form-group input{
        width: 250px;
        font-size: 12px;
    }
        
    .form-group textarea{
        width: 250px;
        height: 350px;
    }
}